div[name='about'] {
  background-color: var(--bg-color-1);
}

.about-info {
  display: flex;
  > * + * {
    margin-left: 24px;
  }

  > .about-info__img {
    width: 33.3333333333%;
    flex-shrink: 0;

    > img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  > div:last-child {
    width: 100%;

    > h3 {
      margin: 0;
      color: var(--primary-2);
      font-weight: 700;
      font-size: 26px;
      margin-bottom: 0.5rem;
    }

    > p {
      margin: 0;
      margin-bottom: 1rem;
    }

    > ul {
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 10px;
      margin-bottom: 1rem;

      > li {
        list-style-type: none;
        color: var(--text-color);
        > i {
          font-size: 15px;
          padding-right: 10px;
          color: var(--primary-1);
        }
      }

      @media (max-width: 991px) {
        grid-template-columns: 1fr;
      }
    }
  }

  @media (max-width: 991px) {
    flex-direction: column;

    > .about-info__img {
      width: 100%;
    }

    > div:last-child {
      margin: 0;
      margin-top: 24px;
    }
  }
}
